<!--<p id="notice"><%= notice %></p>-->

<div class="row">
	<div class="col s6">
		<%= image_tag @content.cover.url, class:"responsive-img show-img" %>
	</div>
	<div class="col s6">
		<h1 class="show-titolo">
		  <strong>
		  <%= @content.titolo %>
		  </strong>
		</h1>

		<h4 class="show-prezzo">
		  <!--<strong>Prezzo:</strong>-->
		  <%= number_to_currency(@content.price) %>
		</h4>

		<p>
		  <strong>Corso di </strong>
		  <%= @content.user.name %>
		</p>

		<p>
		  <!--<strong>Descrizione:</strong>-->
		  <%= @content.descrizione %>
		</p>
		
		<%if current_user %>
			<%= form_tag compra_path(slug:@content.slug) do %>
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			    data-amount="<%= (@content.price * 100).floor %>"
			    data-name="Valix85 Market"
			    data-description="<%= @content.titolo %>"
			    data-email="<%= current_user.email %>"	
			    data-currency="eur"	    
			    data-locale="auto">
			  </script>
			<% end %>

		<% else %>
			<p>Fai il <%= link_to "login", new_user_session_path %> per poter acquistare</p>
		<% end %>

		

		
	</div>



</div>





<% if @content.user == current_user %>
<%= link_to 'Modifica contenuto', edit_content_path(@content) %> |
<% end %>
<%= link_to 'Torna al catalogo', contents_path %>
