<div class="row">
<div class="col l6 offset-l3">

<h4>Modifica <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nuova_password %> <i>(Lascia vuoto se non vuoi cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :ripeti_la_nuova_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_attuale %> <i>(inserisci la password attuale)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "SALVA", class: "waves-effect waves-light lime accent-3 blue-grey-text text-darken-4 btn btn-device" %>
  </div>
<% end %>

<h4>Cancella il tuo account</h4>

<p>Non ti piace il nostro servizio? Puoi cancellarti in qualunque momento col pulsante qui sotto. <%= button_to "Cancella il tuo account", registration_path(resource_name), class: "waves-effect waves-light red darken-4 white-text btn btn-device", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
